.title {
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem;
}

.title a {
    color: black !important;
    text-decoration: none !important;
}

.navbar {
    font-size: 1.5em;
    text-align: center;
    color: #e3e5e3;
    border-bottom: 1px solid #5bc345;
    padding: 0.5rem;
}

.nav-item{
    padding: 15px;
    text-decoration: none;
    color: #6c757d;
}

.nav-item:visited, .nav-item :focus, .nav-item :active {
    text-decoration: none;
    color: #6c757d;
}

.nav-item:hover {
    text-decoration: underline;
}